.button
	background: $black
	color: #fff
	text-align: center 
	-webkit-border-radius: 25px 
	border-radius: 25px
	padding: 15px 30px 15px 30px  
	font-family: roboto-medium
	font-size: $buttons
	text-transform: uppercase  
	cursor: pointer
	border: none
	margin-bottom: $gutter-1x 
	&:hover
		background: #fff
		color: $black 
		border: 2px solid black
		padding: 13px 28px 13px 28px
	
	&__android				  
		&::before
			content: ''
			display: inline-block
			background-image: url(../../images/ic_android.png)
			background-repeat: no-repeat 
			-webkit-background-size: 30px 20px 
			-o-background-size: 30px 20px 
			background-size: 30px 20px 
			width: 40px
			height: 20px
			padding-right: 10px   
		&:hover
			&::before
				background-image: url(../../images/ic_android_hover.png)


	&__ios
		&::before
			content: ''
			display: inline-block
			background-image: url(../../images/ic_apple.png)
			background-repeat: no-repeat 
			-webkit-background-size: 20px 20px 
			-o-background-size: 20px 20px 
			background-size: 20px 20px 
			width: 30px
			height: 20px
			padding-right: 10px   
		&:hover
			&::before
				background-image: url(../../images/ic_apple_hover.png)			

	&__orange
	
		background: $brand
		color: #fff  
		&:hover
			background: #fff
			color: $brand
			border: 2px solid $brand  