/*variables*/

$small: 0.75rem;
$medium: 1rem;


/*colors*/

$color-1: #d1335d;
$color-2: #ec9b74;
$color-3: #841e69;
$color-4: #6a7bca;
$color-5: #60a5c6;
$color-6: #80a5c6;
$color-7: #67bd93;
$color-8: #ec9b74;

/*colors-gradients*/

$color-1-g: #ec9b74;
$color-2-g: #841e69;
$color-3-g: #8235bc;
$color-4-g: #8235bc;
$color-5-g: #6a7bca;
$color-6-g: #67bd93;
$color-7-g: #e6ce85;
$color-8-g: #e6ce85;

